.pull {
    &--right {
      float: right;
      
      @include clearfix;
    }
  
    &--left {
      float: left;
  
      @include clearfix;
    }
  
    &--center {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }